In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv(r'/content/drive/MyDrive/chronickidneydisease.csv')

In [ ]:
print("The dataset shape is {}".format(df.shape))

The dataset shape is (400, 26)

In [ ]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
df.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
df["rbc"].value_counts()

normal      201
abnormal     47
Name: rbc, dtype: int64

In [ ]:
df['rbc'] = df['rbc'].fillna(value=df['rbc'].mode().values[0])

In [ ]:
df['rbc'].mode()

0    normal
dtype: object

In [ ]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [ ]:
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [ ]:
df=df[df['rc'] != '\t?']

In [ ]:
df['rc'].value_counts()

5.2    18
4.5    16
4.9    14
4.7    11
4.8    10
3.9    10
4.6     9
3.4     9
5.9     8
5.5     8
6.1     8
5.0     8
3.7     8
5.3     7
5.8     7
5.4     7
3.8     7
5.6     6
4.3     6
4.2     6
3.2     5
4.4     5
5.7     5
6.4     5
5.1     5
6.2     5
6.5     5
4.1     5
3.6     4
6.0     4
6.3     4
4.0     3
3.5     3
3.3     3
4       3
5       2
3.1     2
2.6     2
2.1     2
2.9     2
2.5     2
3.0     2
2.7     2
2.8     2
2.3     1
2.4     1
3       1
8.0     1
Name: rc, dtype: int64

In [ ]:
df['rc']=df['rc'].fillna((df['rc'].median()))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              391 non-null    int64
 1   age             391 non-null    float64
 2   bp              391 non-null    float64
 3   sg              391 non-null    float64
 4   al              391 non-null    float64
 5   su              391 non-null    float64
 6   rbc             391 non-null    object
 7   pc              391 non-null    object
 8   pcc             391 non-null    object
 9   ba              391 non-null    object
 10  bgr             391 non-null    float64
 11  bu              391 non-null    float64
 12  sc              391 non-null    float64
 13  sod             391 non-null    float64
 14  pot             391 non-null    float64
 15  hemo            391 non-null    float64
 16  pcv             391 non-null    object
 17  wc              391 non-null    object
 18  rc              391 non-null    object
 19  htn             391 non-null    object
 20  dm              389 non-null    object
 21  cad             389 non-null    object
 22  appet           390 non-null    object
 23  pe              390 non-null    object
 24  ane             391 non-null    object
 25  classification  391 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 82.5+ KB

In [ ]:
df['age'].value_counts()

60.0    19
65.0    17
48.0    12
55.0    12
50.0    12
        ..
83.0     1
27.0     1
14.0     1
81.0     1
79.0     1
Name: age, Length: 76, dtype: int64

In [ ]:
df['age']=df['age'].fillna((df['age'].median()))

In [ ]:
df['bp'].value_counts()

80.0     116
70.0     111
60.0      71
90.0      53
100.0     25
50.0       5
110.0      3
140.0      1
180.0      1
120.0      1
Name: bp, dtype: int64

In [ ]:
df['bp']=df['bp'].fillna((df['bp'].median()))

In [ ]:
df['sg'].value_counts()

1.020    106
1.010     84
1.025     81
1.015     75
1.005      7
Name: sg, dtype: int64

In [ ]:
df['sg']=df['sg'].fillna((df['sg'].median()))

In [ ]:
df['al'].value_counts()

0.0    199
1.0     44
2.0     43
3.0     43
4.0     24
5.0      1
Name: al, dtype: int64

In [ ]:
df['al']=df['al'].fillna((df['al'].median()))

In [ ]:
df['su'].value_counts()

0.0    290
2.0     18
3.0     14
4.0     13
1.0     13
5.0      3
Name: su, dtype: int64

In [ ]:
df['su']=df['su'].fillna((df['su'].median()))

In [ ]:
df['pc'].value_counts()

normal      259
abnormal     76
Name: pc, dtype: int64

In [ ]:
df['pc'] = df['pc'].fillna(value=df['pc'].mode().values[0])

In [ ]:
df['pcc'].value_counts()

notpresent    353
present        42
Name: pcc, dtype: int64

In [ ]:
df['pcc'] = df['pcc'].fillna(value=df['pcc'].mode().values[0])

In [ ]:
df['ane'].value_counts()

no     338
yes     60
Name: ane, dtype: int64

In [ ]:
df['ane'] = df['ane'].fillna(value=df['ane'].mode().values[0])

In [ ]:
df['ba'].value_counts()

notpresent    373
present        22
Name: ba, dtype: int64

In [ ]:
df['ba'] = df['ba'].fillna(value=df['ba'].mode().values[0])

In [ ]:
df['bgr'].value_counts()

99.0     10
93.0      9
100.0     9
107.0     8
131.0     6
         ..
288.0     1
182.0     1
84.0      1
256.0     1
226.0     1
Name: bgr, Length: 146, dtype: int64

In [ ]:
df['bgr']=df['bgr'].fillna((df['bgr'].median()))

In [ ]:
df['bu'].value_counts()

46.0     15
25.0     13
19.0     11
40.0     10
50.0      9
         ..
176.0     1
145.0     1
92.0      1
322.0     1
186.0     1
Name: bu, Length: 118, dtype: int64

In [ ]:
df['bu']=df['bu'].fillna((df['bu'].median()))

In [ ]:
df['sc'].value_counts()

1.2     40
1.1     24
0.5     23
1.0     23
0.9     22
        ..
3.8      1
12.2     1
9.2      1
13.8     1
0.4      1
Name: sc, Length: 84, dtype: int64

In [ ]:
df['sc']=df['sc'].fillna((df['sc'].median()))

In [ ]:
df['sc'].value_counts()

1.2     40
1.3     25
1.1     24
0.5     23
1.0     23
        ..
3.8      1
12.2     1
9.2      1
13.8     1
0.4      1
Name: sc, Length: 84, dtype: int64

In [ ]:
df['sod']=df['sod'].fillna((df['sod'].median()))

In [ ]:
df['pot'].value_counts()

3.5     30
5.0     30
4.9     27
4.7     17
4.8     16
3.9     14
3.8     14
4.4     14
4.2     14
4.0     14
4.5     13
4.1     13
4.3     12
3.7     12
3.6      8
4.6      7
3.4      5
5.2      5
5.3      4
5.7      4
3.2      3
5.5      3
6.3      3
5.4      3
2.9      3
3.3      3
5.6      2
3.0      2
6.5      2
2.5      2
5.9      2
5.8      2
7.6      1
47.0     1
6.6      1
5.1      1
6.4      1
2.8      1
2.7      1
39.0     1
Name: pot, dtype: int64

In [ ]:
df['pot']=df['pot'].fillna((df['pot'].median()))

In [ ]:
df['hemo'].value_counts()

15.0    16
10.9     8
13.6     7
13.0     7
11.1     7
        ..
6.8      1
8.5      1
7.3      1
12.8     1
17.6     1
Name: hemo, Length: 115, dtype: int64

In [ ]:
df['hemo']=df['hemo'].fillna((df['hemo'].median()))

In [ ]:
df['pcv'].value_counts()

40.0    70
41      21
52      21
44      19
48      19
40      16
43      14
45      13
42      13
36      12
33      12
28      12
32      12
50      12
34      11
37      10
46       9
30       9
29       9
35       9
31       8
24       7
39       7
26       6
38       5
53       4
51       4
49       4
47       4
54       4
25       3
22       3
27       3
19       2
23       2
15       1
21       1
20       1
17       1
9        1
18       1
16       1
14       1
Name: pcv, dtype: int64

In [ ]:
df=df[df['pcv'] != '\t?']
df=df[df['pcv'] != '\t43']

In [ ]:
df['pcv']=df['pcv'].fillna((df['pcv'].median()))

In [ ]:
df['wc'].value_counts()

9800     11
6700     10
9600      9
7200      9
9200      9
         ..
11200     1
19100     1
\t?       1
12700     1
12300     1
Name: wc, Length: 91, dtype: int64

In [ ]:
df=df[df['wc'] != '\t?']

In [ ]:
df['wc']=df['wc'].fillna((df['wc'].median()))

In [ ]:
df['htn'].value_counts()

no     248
yes    146
Name: htn, dtype: int64

In [ ]:
df['htn'] = df['htn'].fillna(value=df['htn'].mode().values[0])

In [ ]:
df['dm'].value_counts()

no       257
yes      131
\tno       3
\tyes      2
 yes       1
Name: dm, dtype: int64

In [ ]:
df=df[df['dm'] != '\tno']

In [ ]:
df=df[df['dm'] != '\tyes']

In [ ]:
df['dm'] = df['dm'].fillna(value=df['dm'].mode().values[0])

In [ ]:
df['cad'].value_counts()

no      353
yes      34
\tno      2
Name: cad, dtype: int64

In [ ]:
df=df[df['cad'] != '\tno']

In [ ]:
df['cad'] = df['cad'].fillna(value=df['cad'].mode().values[0])

In [ ]:
df['appet'].value_counts()

good    306
poor     82
Name: appet, dtype: int64

In [ ]:
df['appet'] = df['appet'].fillna(value=df['appet'].mode().values[0])

In [ ]:
df['pe'].value_counts()

no     313
yes     75
Name: pe, dtype: int64

In [ ]:
df['pe'] = df['pe'].fillna(value=df['pe'].mode().values[0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              389 non-null    int64
 1   age             389 non-null    float64
 2   bp              389 non-null    float64
 3   sg              389 non-null    float64
 4   al              389 non-null    float64
 5   su              389 non-null    float64
 6   rbc             389 non-null    object
 7   pc              389 non-null    object
 8   pcc             389 non-null    object
 9   ba              389 non-null    object
 10  bgr             389 non-null    float64
 11  bu              389 non-null    float64
 12  sc              389 non-null    float64
 13  sod             389 non-null    float64
 14  pot             389 non-null    float64
 15  hemo            389 non-null    float64
 16  pcv             389 non-null    object
 17  wc              389 non-null    object
 18  rc              389 non-null    object
 19  htn             389 non-null    object
 20  dm              389 non-null    object
 21  cad             389 non-null    object
 22  appet           389 non-null    object
 23  pe              389 non-null    object
 24  ane             389 non-null    object
 25  classification  389 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 82.1+ KB